<footer class="footer">
    <div>
        <span> Copyright &copy; Coder <%= new Date().getFullYear(); %> </span>
        <span class="icon">
            <a href="#" class="text-secondary"><i class="bi bi-twitter"></i></a>
            <a href="#" class="text-secondary"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-secondary"><i class="bi bi-facebook"></i></a>
        </span>
    </div>
</footer>