<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body id="change">
<header class="body">
    <a href="/blog" class="header__logo" style="color: blueviolet;">Admin panel <i class="bi bi-robot"></i></a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/blog" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/admin" id="label" style="color: red;">
            Logout
        </a>
    </div>
</header>
</body>
</html>