<section id="about">
    <div class="about-1">
        <h2 style="color: blueviolet; font-size: 36px; font-weight: 500;" id="icons">About Us</h2>
        <p class="hive">Hive Point is a website built by our dev, the coder. A community built for people to connect, get first class informations on job opportunities and and motivational quotes from our admins.</p>
    </div>
    <div id="about-2">
        <div class="content-box-lg">
            <div class="containertent">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center" id="icons"></i>
                            <i class="bi bi-book"></i>
                                <h3>MISSION</h3>
                                <hr>
                                <p>Connect members to lifetime opportunities and right motivation to make them more productive and successful.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="about-item text-center" id="icons">
                            <i class="bi bi-globe"></i>
                                <h3>VISION</h3>
                                <hr>
                            <p>Create economic opportunity for every member of this community - playing our roles and giving them a fulfilled life.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center" id="icons">
                            <i class="bi bi-pencil"></i>
                                <h3>ACHIEVEMENTS</h3>
                                <hr>
                                <p>Well, nothing so far but we're cooking. We will keep growing and evolving.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>