<section class="contacter">
    <div class="contenter">
        <h2>Get In Touch</h2>
        <p id="feature">We would love to hear from you. Whether you are curious about features, a press or a query - we are ready to answer any and all your questions, and also attend to your query.</p>
    </div>
    <div class="containerter">
        <div class="contactInfo">
            <div class="box">
                <span class="icon"><i class="bi bi-geo-alt-fill"></i></span>
                <span class="text">
                    <h3>Address</h3>
                    <span id="address">4671 Main Camp Road, <br> Lagos,Nigeria, <br>55060.</span>
                </span>
            </div>
            <div class="box">
                <span class="icon"><i class="bi bi-telephone-fill"></i></span>
                <span class="text">
                    <h3>Phone</h3>
                    <span id="phone">+234 915-263-4498</span>
                </span>  
            </div>
            <div class="box">
                <span class="icon"><i class="bi bi-envelope-fill"></i></span>
                <span class="text">
                    <h3>Email</h3>
                    <span id="email">coder24@temporary-mail.com</span>
                </span>
            </div>
        </div>
        <div class="contactForm">
            <form>
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Type your Message...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>        
        </div>
    </div>
</section>
