<div style="font-size: 25px; font-weight: 500; background-color: whitesmoke; border-radius: 10px; padding: 30px;">
    <p id="change">If you're impressed with this website, you can support us by donating any amount to the acct number below- all amount are acceptable.</p>
    <p style="color: green;"><i class="bi bi-bank"></i> Opay: 9087858705.</p>
    <h3 id="change">We deeply appreciate your donations.</h3>
</div>