<body class="home-time">
    <div class="welcome">
        <h1>Welcome to Hive Point</h1>
        <p>We are happy to have you as a member of Hive Point community. Join us and see why we exist.</p>
        <button><a href="/signup" style="color: white; text-decoration: none; font-size: 600;">Let's get started <i class="bi bi-arrow-right" style="color: white;"></i></a></button>
        <br>
        <div style="margin-top: 10px; color: white;">Already have an account with us? <a href="/login" style="color: blue; font-weight: 600;">Login</a></div>
    </div>
</body>