<div style="background-color: whitesmoke; padding: 20px; border-radius: 15px;">
    <h2><%= data.title %></h2>
    <article class="article">
        <%= data.body %>
    </article>
    <p style="margin-top: 10rem; font-size: 20px;"> <span id="post">Posted: <span style="color: limegreen;">Admin</span> </span></p>
</div>