<div class="author">
    <h2 class="author__heading" id="search">Search Results <i class="bi bi-search" id="icon"></i></h2>
</div>

<section class="articles">

    <span class="article-ul">

        <% if (data.length > 0) { %>
        <% data.forEach(post => { %>
            <span>
                <a href="/post/<%= post._id %>" class="title">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.updatedAt.toDateString() %></span>
                </a>
            </span>
        <% }) %>
        <% } else { %>
            <p style="font-size: 25px; font-weight: 500; background-color: whitesmoke; border-radius: 10px; padding: 30px;"> <span style="color: red;">No search found!</span> Blog might have been deleted. Try searching valid blogs...</p>
        <% } %> 
        </span>

</section>