<div class="unauthorize" id="unauth">
    <h2 style="color: red;"> <i class="bi bi-x-circle"></i> Message: Unauthorized Access</h2>
    <p>Invalid Credentials. Login with valid name and password if you're an admin of this community.</p>
</div>
