@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,300;0,400;0,600;1,200;1,700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #b30000;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

#icon {
    font-size: 35px;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: ivory;
    background-size: cover;
    margin: 0;
}

a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select, textarea {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0,75rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--black);
    border: none;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img{
    width: 100%;
    height: auto;
}

/* layouts */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0;
}

/* hero section */
/* .hero-image { 
    max-height: 528px;
    filter: drop-shadow(0px 44px 3px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
} */

/* Main header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1f 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
}
    
@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}

.header__logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.header__logo:hover {
    text-decoration: underline;
}


.header__nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__button {
    grid-area: button;
    display: flex;
    margin-left: 100px;
}

@media only screen and (min-width: 768px) {
    .header__button {
        grid-area: button;
        display: flex;
        justify-content: end;
    }
}

.header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: limegreen;
    background: transparent;

}

.header__button button:hover {
    border: 2px solid var(--black);
}

/* header -> navigation */
.header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a {
    padding: 10px 10px 1px 10px;
    text-decoration: none;
    color: var(--black);
}

.header__nav ul a:hover {
    border-bottom: 2px solid limegreen;

}

.header__nav ul a.active {
    color: limegreen;
    border-bottom: 2px solid var(--black);
}

/* Author - Homepage */
.author {
    padding: 10px 0;
    text-align: center;
}

.author__heading {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 40px;
    color: blueviolet;
}

.author__body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
}

/* Home Articule List */
.article__heading {
    margin-top: 4rem;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    color: blueviolet;
}

#date {
    display: none;
    color: limegreen;
}

.article__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date {
    margin-top: 1rem;
    font-size: var(--font-size-base);
    color: var(--black);
    width: 200px;
    display: inline-block;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 15px 0;
    font-size: 20px;
    color: var(--gray);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: 30px 20px;
    border-right: 6px solid blueviolet;
    border-bottom: 6px solid blueviolet;
    background-color: whitesmoke;
}

.title:hover {
    color: var(--black);
}

@media only screen and (min-width: 768px) {
    .title {
        flex-direction: row;
        align-items: center;
    }

    .article-list__date {
        text-align: end;
    }
}

.article__ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}



.article__ul li:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.pagination {
    font-size: 1.3rem;
    color: var(--black);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}


.article {
    white-space: pre-line;
    font-size: 15px;
}

/* footer */
.footer {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    color: var(--black);
    padding: 8px;
    border-top: 1px solid var(--black);
}

@media only screen and (min-width: 340px) {
    .footer .icon {
        margin-left: 4rem;
    }
}

@media only screen and (min-width: 400px) {
    .footer .icon {
        margin-left: 7.5rem;
    }
}


@media only screen and (min-width: 768px) {
    .footer .icon {
        margin-left: 44.5rem;
    }
}


/* searchBar */
.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: transparent;
    padding: 6px 0;
    position: absolute;
    left: 0;
    right: 0;
}

.searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar input {
    margin: 0;
    padding: 5px;
    border-radius: 5px;
}

#searchClose {
    position: absolute;
    top: 0;
    margin-top: 3px;
    margin-right: 11px;
    right: 0;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-size: 25px;
    color: #1c1c1c;
}

@media only screen and (min-width: 768px) {
    #searchClose {
        margin-right: 150px;
    }
}

/* Dashboard Admin */
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-posts {
    padding: 0;
    margin: 0;
}

.admin-post-controls form {
    display: inline-block;
}

.admin-post-controls .btn {
    display: inline-block;
    background-color: var(--black);
    border-radius: 3px;
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 8px;
    line-height: 2;
}

.admin-posts li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#login {
    padding: 8px;
}

#login-2 {
    padding: 8px 24px;
}

#label {
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}

.unauthorize {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
}


.contacter {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacter .contenter {
    max-width: 800px;
    text-align: center;
}


.contacter .contenter h2 {
    font-size: 36px;
    font-weight: 500;
    color: blueviolet;
}

.contacter .contenter p {
    font-weight: 500;
    color: var(--black);
}

.containerter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;  
}

.containerter .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containerter .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.containerter .contactInfo .box .icon {
    min-width: 60px;
    margin-top: 19px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.containerter .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    color: var(--black);
    flex-direction: column;
    font-weight: 300;
}

.containerter .contactInfo .box .text h3 {
    font-weight: 300;
    color: blueviolet;
}

.contactForm {
    width: 40%;
    padding: 40px;
    padding-bottom: 80px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    top: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--black);
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: blueviolet;
    font-size: 15px;
    transform: translateY(-25px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100%;
    background: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .contacter {
        padding: 50px;
    }
    .containerter {
        flex-direction: column;
    }
    .containerter .contactInfo {
        margin-bottom: 40px;
    }
    .containerter .contactInfo, .contactForm {
        width: 100%;
    }
}

.about-1 {
    margin: 30px;
    padding: 5px;
}

.about-1 h1 {
    text-align: center;
    color: black;
    font-weight:  bold;
}

.about-2 p {
    text-align: center;
    padding: 3px;
    color: #fff;
}

.about-item {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .6);
}

.about-item i {
    font-size: 43px;
    margin: 0;
} 

#icons {
    text-align: center;
}

.about-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 46px;
    height: 3px;
    background-color: blueviolet;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

.about-item:hover {
    background-color: blueviolet;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr {
    transition: all 400ms ease-in-out;
}

#sidebar-label {
    text-align: center;
}

.offcanvas-body {
    border-bottom: 1px solid black;
    padding: 3px;
}

#post {
    margin-left: 11rem;
}

@media only screen and (min-width: 768px) {
    #post {
        margin-left: 45rem;
    }
}

.sidebar {
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: blueviolet;
    transition: all 300ms ease-in-out;
}

.sidebar .toggle-btn {
    position: absolute;
    font-size: 40px;
    top: 3px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
}

.sidebar .links a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}


.sidebar .links a.active, 
.sidebar .links a:hover {
    background: white;
    color: var(--black);
}

.sidebar .links a i {
    display: inline-block;
    margin-right: 10px;
}

.active {
    left: 0px;
}

#profile {
    margin-left: 80px;
    top: 10%;
    color: white;
}

#profile:hover {
    color: var(--black);
}

#icon-el {
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.bi-moon-stars-fill {
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.formation h2 {
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
    text-align: center;
}

.formation {
    width: 285px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .formation {
        width: 360px;
    }
}

.formation .input {
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 100%;
}

.formation label {
    display: block;
    margin: 20px 0 10px;
}

.formation button {
    margin-top: 30px;
    border: 36px;
    background: blueviolet;
    border: 0;
    width: 100%;
    padding: 13px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.welcome {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 150px;
}

.welcome h1 {
    color: blueviolet;
}

.welcome p {
    color: white;
    font-size: 20px;
}

.welcome button {
    color: white;
    background-color: limegreen;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: 600;
    
}

.login_page {
    border: none;
    background-color: limegreen;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.home-time {
    background: url("./hello2.jpg");
    background-size: cover;
}



#section > div {
    display: inline-block;
    text-align: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

div.word-list spanner {
    display: block;
}

div.word-list {
    position: relative;
    animation: cycle ease 6s infinite;
}

@keyframes cycle {
    0% { top: 0;}
    10% { top: 0;}
    20% { top: -30px;}
    30% { top: -30px;}
    40% { top: -70px;}
    50% {top:  -70px;}
    60% { top: -100px;}
    70% { top: -100px;}
    80% { top: -130px;}
    90% { top: -130px;}
    100% { top: 0px;}
}

.items div {
    text-align: center;
    scroll-snap-align: start;
}
.items {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    filter: drop-shadow(0px 44px 3px rgba(0, 0, 0, 0.25));
    border-radius: var(--border-radius);
    max-height: 528px;
}

